<section class="" id="contributors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contributors</h2>
                <hr>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Adam Paterson</h4>
                        <img src="https://avatars0.githubusercontent.com/u/1008727" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/adam-paterson" class="text-primary">adam-paterson</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Calin</h4>
                        <img src="https://media.licdn.com/media/p/3/005/054/214/297a2e8.jpg" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/cdiacon" class="text-primary">cdiacon</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>David Manners</h4>
                        <img src="https://avatars1.githubusercontent.com/u/1572836" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/dmanners" class="text-primary">dmanners</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Daniel Fahlke</h4>
                        <img src="https://avatars2.githubusercontent.com/u/237319" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/Flyingmana" class="text-primary">Flyingmana</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Marcel Hauri</h4>
                        <img src="https://avatars3.githubusercontent.com/u/402069?v=3&s=460" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="" class="text-primary">mhauri</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Tomas Baranauskas</h4>
                        <img src="https://media.licdn.com/media/p/2/005/0b5/035/0f57b4c.jpg" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/pro100tom" class="text-primary">pro100tom</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Daniel Rudd</h4>
                        <img src="https://avatars1.githubusercontent.com/u/1761171?v=3&s=460" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/ThisIsRuddy" class="text-primary">ThisIsRuddy</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>TJ Gamble</h4>
                        <img src="https://avatars1.githubusercontent.com/u/1413906?v=3&s=460" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/tjgamble" class="text-primary">tjgamble</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row pd-top-bottom">
                        <h4>Tom Foyster</h4>
                        <img src="https://avatars3.githubusercontent.com/u/10615058?v=3&s=460" width="50%" class="img-circle" />
                    </div>
                    <div class="row">
                        <i class="fa fa-1x  fa-github wow bounceIn text-primary"></i>
                        <a href="https://github.com/TomFoyster" class="text-primary">TomFoyster</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
